body, html {
  margin: 0;
  background-color: #1a1a1a;
  color: #ffffff;
}

#Homepage-Title {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10;
  background-image: url('mockups/IMG_0035.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 0px;
  height: 200px;
}

#Homepage-Title #title {
  font-size: xx-large;
}

.navbar {
  background: transparent;
  padding: 0;
  text-align: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  margin: 0 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
}

.navbar a:hover {
  text-decoration: underline;
  font-size: 19px;
}

footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  border-radius: 8px;
  margin-top: 20px;
  flex-shrink: 0;
}
